h1 {
	position: center;
	text-align: center;
}

table {
	width: 300px;
	height: 300px;
	margin: auto auto;	

}

.top-left {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.top-right {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.top-middle {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.bottom-left {
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.bottom-middle {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.bottom-right {
	border-top: 1px solid black;
	border-left: 1px solid black;
}

.center-left{
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.center-middle {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.center-right {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;

}